In [1]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 16.1 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 9.7 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [22]:
!curl ifconfig.me

34.127.102.9

In [19]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://mawannurhuda09:Darmawan123@cluster0.q4vom.mongodb.net/')
db = client['company_db']
collection = db['employees']

In [60]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data

Data inserted

In [39]:
employee_data_multiple = [
    {'name': 'Darmawan', 'department': 'HR', 'age': 19, 'salary': 7000},
    {'name': 'Musa', 'department': 'IT', 'age': 20, 'salary': 6000},
    {'name': 'Wahyu', 'department': 'IT', 'age': 22, 'salary': 5500},
    {'name': 'David', 'department': 'Marketing', 'age': 28, 'salary': 4500}
]
collection.insert_many(employee_data_multiple)
print('Multiple data inserted')

Multiple data inserted

In [61]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('675e65134c8524ca6516e3e1'), 'name': 'Darmawan', 'department': 'HR', 'age': 19, 'salary': 7000}
{'_id': ObjectId('675e65134c8524ca6516e3e2'), 'name': 'Musa', 'department': 'IT', 'age': 20, 'salary': 6000}
{'_id': ObjectId('675e65134c8524ca6516e3e3'), 'name': 'Wahyu', 'department': 'IT', 'age': 22, 'salary': 5500}
{'_id': ObjectId('675e65134c8524ca6516e3e4'), 'name': 'David', 'department': 'Marketing', 'age': 28, 'salary': 4500}
{'_id': ObjectId('675e69684c8524ca6516e3f0'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [62]:
update_data = {'$set': {'salary': 5000}}
collection.update_one({'name': 'Alice'}, update_data)
print('Data updated')

Data updated

In [63]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('675e65134c8524ca6516e3e1'), 'name': 'Darmawan', 'department': 'HR', 'age': 19, 'salary': 7000}
{'_id': ObjectId('675e65134c8524ca6516e3e2'), 'name': 'Musa', 'department': 'IT', 'age': 20, 'salary': 6000}
{'_id': ObjectId('675e65134c8524ca6516e3e3'), 'name': 'Wahyu', 'department': 'IT', 'age': 22, 'salary': 5500}
{'_id': ObjectId('675e65134c8524ca6516e3e4'), 'name': 'David', 'department': 'Marketing', 'age': 28, 'salary': 4500}
{'_id': ObjectId('675e69684c8524ca6516e3f0'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 5000}

In [64]:
collection.delete_one({'name': 'Alice'})
print('Data deleted')

Data deleted

In [65]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('675e65134c8524ca6516e3e1'), 'name': 'Darmawan', 'department': 'HR', 'age': 19, 'salary': 7000}
{'_id': ObjectId('675e65134c8524ca6516e3e2'), 'name': 'Musa', 'department': 'IT', 'age': 20, 'salary': 6000}
{'_id': ObjectId('675e65134c8524ca6516e3e3'), 'name': 'Wahyu', 'department': 'IT', 'age': 22, 'salary': 5500}
{'_id': ObjectId('675e65134c8524ca6516e3e4'), 'name': 'David', 'department': 'Marketing', 'age': 28, 'salary': 4500}

In [66]:
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'HR', 'average_salary': 7000.0}
{'_id': 'IT', 'average_salary': 5750.0}
{'_id': 'Marketing', 'average_salary': 4500.0}

In [67]:
#Latihan 4.1
collection = db['products']
products = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 1000, 'stock': 50},
    {'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'stock': 100},
    {'name': 'Table', 'category': 'Furniture', 'price': 150, 'stock': 30},
    {'name': 'Chair', 'category': 'Furniture', 'price': 80, 'stock': 120},
    {'name': 'Refrigerator', 'category': 'Appliances', 'price': 800, 'stock': 15},
    {'name': 'Washing Machine', 'category': 'Appliances', 'price': 600, 'stock': 25},
    {'name': 'Shoes', 'category': 'Fashion', 'price': 120, 'stock': 200},
    {'name': 'T-shirt', 'category': 'Fashion', 'price': 30, 'stock': 500},
    {'name': 'Coffee Maker', 'category': 'Appliances', 'price': 100, 'stock': 40},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 200, 'stock': 150}
]

collection.insert_many(products)
print('Data produk berhasil dimasukkan')

Data produk berhasil dimasukkan

In [68]:
for Products in collection.find():
    print(Products)

{'_id': ObjectId('675e69cd4c8524ca6516e3f1'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1000, 'stock': 50}
{'_id': ObjectId('675e69cd4c8524ca6516e3f2'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'stock': 100}
{'_id': ObjectId('675e69cd4c8524ca6516e3f3'), 'name': 'Table', 'category': 'Furniture', 'price': 150, 'stock': 30}
{'_id': ObjectId('675e69cd4c8524ca6516e3f4'), 'name': 'Chair', 'category': 'Furniture', 'price': 80, 'stock': 120}
{'_id': ObjectId('675e69cd4c8524ca6516e3f5'), 'name': 'Refrigerator', 'category': 'Appliances', 'price': 800, 'stock': 15}
{'_id': ObjectId('675e69cd4c8524ca6516e3f6'), 'name': 'Washing Machine', 'category': 'Appliances', 'price': 600, 'stock': 25}
{'_id': ObjectId('675e69cd4c8524ca6516e3f7'), 'name': 'Shoes', 'category': 'Fashion', 'price': 120, 'stock': 200}
{'_id': ObjectId('675e69cd4c8524ca6516e3f8'), 'name': 'T-shirt', 'category': 'Fashion', 'price': 30, 'stock': 500}
{'_id': ObjectId('675e69cd4c8524ca6516e3f9'), 'name': 'Coffee Maker', 'category': 'Appliances', 'price': 100, 'stock': 40}
{'_id': ObjectId('675e69cd4c8524ca6516e3fa'), 'name': 'Headphones', 'category': 'Electronics', 'price': 200, 'stock': 150}

In [69]:
#Latihan 4.2
average_price = collection.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
])

average_price = list(average_price)[0]['average_price']
print(f'Rata-rata harga produk: {average_price}')

products_above_average = collection.find({'price': {'$gt': average_price}})
print('Produk dengan harga di atas rata-rata:')
for product in products_above_average:
    print(product)

Rata-rata harga produk: 378.0
Produk dengan harga di atas rata-rata:
{'_id': ObjectId('675e69cd4c8524ca6516e3f1'), 'name': 'Laptop', 'category': 'Electronics', 'price': 1000, 'stock': 50}
{'_id': ObjectId('675e69cd4c8524ca6516e3f2'), 'name': 'Smartphone', 'category': 'Electronics', 'price': 700, 'stock': 100}
{'_id': ObjectId('675e69cd4c8524ca6516e3f5'), 'name': 'Refrigerator', 'category': 'Appliances', 'price': 800, 'stock': 15}
{'_id': ObjectId('675e69cd4c8524ca6516e3f6'), 'name': 'Washing Machine', 'category': 'Appliances', 'price': 600, 'stock': 25}

In [70]:
#Latihan 4.3
category_count = collection.aggregate([
    {'$group': {'_id': '$category', 'total_products': {'$sum': '$stock'}}},
    {'$sort': {'total_products': -1}}
])

print('Total produk dalam setiap kategori:')
for category in category_count:
    print(f'Kategori: {category["_id"]}, Total Produk: {category["total_products"]}')

Total produk dalam setiap kategori:
Kategori: Fashion, Total Produk: 700
Kategori: Electronics, Total Produk: 300
Kategori: Furniture, Total Produk: 150
Kategori: Appliances, Total Produk: 80

In [72]:
#Tugas 1
collection = db['employees']

employee_data_multiple = [
    {'name': 'Aji', 'department': 'HR', 'age': 28, 'salary': 7000},
    {'name': 'Rio', 'department': 'IT', 'age': 27, 'salary': 6000},
    {'name': 'Hasan', 'department': 'IT', 'age': 30, 'salary': 5500},
    {'name': 'Bogeng', 'department': 'Marketing', 'age': 32, 'salary': 4500},
    {'name': 'Marvel', 'department': 'HR', 'age': 25, 'salary': 7000},
    {'name': 'Restu', 'department': 'IT', 'age': 23, 'salary': 6000},
    {'name': 'Sunny', 'department': 'IT', 'age': 22, 'salary': 3500},
    {'name': 'Bayu', 'department': 'Marketing', 'age': 21, 'salary': 7500},
    {'name': 'Tea', 'department': 'HR', 'age': 28, 'salary': 7500},
    {'name': 'Azqia', 'department': 'IT', 'age': 24, 'salary': 5000},
    {'name': 'Indah', 'department': 'IT', 'age': 19, 'salary': 5500},
    {'name': 'Navid', 'department': 'Marketing', 'age': 30, 'salary': 4500}
]
collection.insert_many(employee_data_multiple)
print('Multiple data inserted')


pipeline = [
    {'$sort': {'department': 1, 'salary': -1}},
    {'$group': {
        '_id': '$department',
        'employees': {'$push': {'name': '$name', 'salary': '$salary', 'age': '$age'}},
    }},
    {'$project': {
        '_id': 1,
        'employees': {'$slice': ['$employees', 5]}
    }}
]

result = collection.aggregate(pipeline)

print('5 Karyawan dengan Gaji Tertinggi dalam Setiap Departemen:')
for department in result:
    print(f"Departemen: {department['_id']}")
    for employee in department['employees']:
        print(f"Nama: {employee['name']}, Gaji: {employee['salary']}")

Multiple data inserted
5 Karyawan dengan Gaji Tertinggi dalam Setiap Departemen:
Departemen: IT
Nama: Musa, Gaji: 6000
Nama: Rio, Gaji: 6000
Nama: Restu, Gaji: 6000
Nama: Wahyu, Gaji: 5500
Nama: Hasan, Gaji: 5500
Departemen: Marketing
Nama: Bayu, Gaji: 7500
Nama: David, Gaji: 4500
Nama: Bogeng, Gaji: 4500
Nama: Navid, Gaji: 4500
Departemen: HR
Nama: Tea, Gaji: 7500
Nama: Darmawan, Gaji: 7000
Nama: Aji, Gaji: 7000
Nama: Marvel, Gaji: 7000

In [73]:
#Tugas 2
result = collection.delete_many({'age': {'$lt': 25}})

print(f"{result.deleted_count} karyawan berhasil dihapus karena berusia di bawah 25 tahun.")

8 karyawan berhasil dihapus karena berusia di bawah 25 tahun.

In [74]:
for employee in collection.find():
    print(employee)

{'_id': ObjectId('675e65134c8524ca6516e3e4'), 'name': 'David', 'department': 'Marketing', 'age': 28, 'salary': 4500}
{'_id': ObjectId('675e6c6a4c8524ca6516e3fb'), 'name': 'Aji', 'department': 'HR', 'age': 28, 'salary': 7000}
{'_id': ObjectId('675e6c6a4c8524ca6516e3fc'), 'name': 'Rio', 'department': 'IT', 'age': 27, 'salary': 6000}
{'_id': ObjectId('675e6c6a4c8524ca6516e3fd'), 'name': 'Hasan', 'department': 'IT', 'age': 30, 'salary': 5500}
{'_id': ObjectId('675e6c6a4c8524ca6516e3fe'), 'name': 'Bogeng', 'department': 'Marketing', 'age': 32, 'salary': 4500}
{'_id': ObjectId('675e6c6a4c8524ca6516e3ff'), 'name': 'Marvel', 'department': 'HR', 'age': 25, 'salary': 7000}
{'_id': ObjectId('675e6c6a4c8524ca6516e403'), 'name': 'Tea', 'department': 'HR', 'age': 28, 'salary': 7500}
{'_id': ObjectId('675e6c6a4c8524ca6516e406'), 'name': 'Navid', 'department': 'Marketing', 'age': 30, 'salary': 4500}

In [75]:
#Tugas 3
pipeline = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }},
    {'$sort': {'_id': 1}}
]

result = collection.aggregate(pipeline)

print('Laporan Ringkas (Total Gaji dan Rata-rata Umur per Departemen):')
for department in result:
    print(f"Departemen: {department['_id']}")
    print(f"  Total Gaji: {department['total_salary']}")
    print(f"  Rata-rata Umur: {department['average_age']:.2f}")

Laporan Ringkas (Total Gaji dan Rata-rata Umur per Departemen):
Departemen: HR
  Total Gaji: 21500
  Rata-rata Umur: 27.00
Departemen: IT
  Total Gaji: 11500
  Rata-rata Umur: 28.50
Departemen: Marketing
  Total Gaji: 13500
  Rata-rata Umur: 30.00