In [2]:
!pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 18.2 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 18.6 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [3]:
!curl ifconfig.me

35.185.118.132

In [5]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://mawannurhuda09:Darmawan123@cluster0.q4vom.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

In [28]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://mawannurhuda09:Darmawan123@cluster0.q4vom.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]

courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [33]:
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 23, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 21, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 35, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics'}),
    InsertOne({'course': 'Math 101', 'enrollments': 26, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 22, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 24, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [34]:
print("\nData Courses:")
courses = courses_collection.find()
for course in courses:
    print(f"Course: {course['course']}, Enrollments: {course['enrollments']}, Department: {course['department']}")

Data Courses:
Course: Math 101, Enrollments: 30, Department: Mathematics
Course: CS 102, Enrollments: 25, Department: Computer Science
Course: History 201, Enrollments: 20, Department: History
Course: Physics 202, Enrollments: 15, Department: Physics
Course: Math 101, Enrollments: 23, Department: Mathematics
Course: CS 102, Enrollments: 21, Department: Computer Science
Course: History 201, Enrollments: 35, Department: History
Course: Physics 202, Enrollments: 20, Department: Physics
Course: Math 101, Enrollments: 26, Department: Mathematics
Course: CS 102, Enrollments: 28, Department: Computer Science
Course: History 201, Enrollments: 22, Department: History
Course: Physics 202, Enrollments: 24, Department: Physics

In [35]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e3'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e4'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e7'), 'course': 'Math 101', 'enrollments': 23, 'department': 'Mathematics'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e8'), 'course': 'CS 102', 'enrollments': 21, 'department': 'Computer Science'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e9'), 'course': 'History 201', 'enrollments': 35, 'department': 'History'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0eb'), 'course': 'Math 101', 'enrollments': 26, 'department': 'Mathematics'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ec'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ed'), 'course': 'History 201', 'enrollments': 22, 'department': 'History'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ee'), 'course': 'Physics 202', 'enrollments': 24, 'department': 'Physics'}

In [36]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e3'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e4'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e7'), 'course': 'Math 101', 'enrollments': 23, 'department': 'Mathematics'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e8'), 'course': 'CS 102', 'enrollments': 21, 'department': 'Computer Science'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0eb'), 'course': 'Math 101', 'enrollments': 26, 'department': 'Mathematics'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ec'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}

In [37]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'average_enrollment': 26.333333333333332}
{'_id': 'Computer Science', 'average_enrollment': 24.666666666666668}
{'_id': 'Physics', 'average_enrollment': 19.666666666666668}
{'_id': 'History', 'average_enrollment': 25.666666666666668}

In [38]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'max_enrollment': 28}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Physics', 'max_enrollment': 24}
{'_id': 'History', 'max_enrollment': 35}

In [39]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e3'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e4'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e5'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e6'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e7'), 'enrollments': 23, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e8'), 'enrollments': 21, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e9'), 'enrollments': 35, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ea'), 'enrollments': 20, 'course_name': 'Physics 202', 'department_name': 'Physics'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0eb'), 'enrollments': 26, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ec'), 'enrollments': 28, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ed'), 'enrollments': 22, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ee'), 'enrollments': 24, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [40]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e3'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e4'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e5'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('675e8556bf2fcc4e3b8ad0e6'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e7'), 'course': 'Math 101', 'enrollments': 23, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e8'), 'course': 'CS 102', 'enrollments': 21, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0e9'), 'course': 'History 201', 'enrollments': 35, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ea'), 'course': 'Physics 202', 'enrollments': 20, 'department': 'Physics', 'enrollment_category': 'low'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0eb'), 'course': 'Math 101', 'enrollments': 26, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ec'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ed'), 'course': 'History 201', 'enrollments': 22, 'department': 'History', 'enrollment_category': 'high'}
{'_id': ObjectId('675e85e5bf2fcc4e3b8ad0ee'), 'course': 'Physics 202', 'enrollments': 24, 'department': 'Physics', 'enrollment_category': 'high'}

In [6]:
#Tugas 1
aggregation_result = courses_collection.aggregate([
    {
        "$group": {
            "_id": "$department",
            "course_count": {"$sum": 1}
        }
    }
])
for result in aggregation_result:
    print(f"Department: {result['_id']}, Course Count: {result['course_count']}")

Department: History, Course Count: 3
Department: Physics, Course Count: 3
Department: Mathematics, Course Count: 3
Department: Computer Science, Course Count: 3

In [7]:
#Tugas 2
filtered_courses = courses_collection.aggregate([
    {"$match": {"department": "Computer Science", "enrollments": {"$gt": 25}}},
    {
        "$group": {
            "_id": "$course",
            "enrollments": {"$first": "$enrollments"}
        }
    }
])
for course in filtered_courses:
    print(f"Course: {course['_id']}, Enrollments: {course['enrollments']}")

Course: CS 102, Enrollments: 28

In [18]:
#Tugas 3
client = MongoClient('mongodb+srv://mawannurhuda09:Darmawan123@cluster0.q4vom.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

operations = [
    InsertOne({'course': 'Math 101', 'enrollments': [{'student_id': 1}, {'student_id': 2}], 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': [{'student_id': 3}, {'student_id': 4}], 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': [{'student_id': 5}], 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': [{'student_id': 6}], 'department': 'Physics'})
]

courses_collection.bulk_write(operations)

students_collection = db['students']

# Insert students data into students collection
students_collection.insert_many([
    {"student_id": 1, "name": "Alice"},
    {"student_id": 2, "name": "Bob"},
    {"student_id": 3, "name": "Charlie"},
    {"student_id": 4, "name": "Diana"},
    {"student_id": 5, "name": "Edward"},
    {"student_id": 6, "name": "Fiona"}
])

joined_result = courses_collection.aggregate([
    {
        "$unwind": "$enrollments"
    },
    {
        "$lookup": {
            "from": "students",
            "localField": "enrollments.student_id",
            "foreignField": "student_id",
            "as": "student_details"
        }
    },
    {
        "$unwind": "$student_details"
    },
    {
        "$group": {
            "_id": "$course",
            "department": {"$first": "$department"},
            "students": {
                "$push": {
                    "name": "$student_details.name",
                    "student_id": "$student_details.student_id"
                }
            }
        }
    }
])

for course in joined_result:
    print(f"Course: {course['_id']}, Department: {course['department']}")
    print("Student Details:")
    for student in course['students']:
        print(f" - Student ID: {student['student_id']}, Name: {student['name']}")

Course: CS 102, Department: Computer Science
Student Details:
 - Student ID: 3, Name: davuid
 - Student ID: 3, Name: ori
 - Student ID: 3, Name: isun
 - Student ID: 3, Name: Charlie
 - Student ID: 4, Name: yuwah
 - Student ID: 4, Name: dahin
 - Student ID: 4, Name: nabila
 - Student ID: 4, Name: Diana
Course: History 201, Department: History
Student Details:
 - Student ID: 5, Name: Edward
Course: Physics 202, Department: Physics
Student Details:
 - Student ID: 6, Name: Fiona
Course: Math 101, Department: Mathematics
Student Details:
 - Student ID: 1, Name: mawan
 - Student ID: 1, Name: aji
 - Student ID: 1, Name: ahsan
 - Student ID: 1, Name: Alice
 - Student ID: 2, Name: musa
 - Student ID: 2, Name: eras
 - Student ID: 2, Name: eras
 - Student ID: 2, Name: Bob